/* Home.css */
.home-container {
    min-height: 100vh;
    background-color: #104030;
    transition: background-color 0.3s ease;
  }
  
  .home-container.scrolled {
    background-color: white;
  }
  
  .title {
    padding-top: 100px;
  }
  
  .home-title {
    color: white;
    font-size: 3rem;
  }
  
  .home-container.scrolled .home-title {
    color: #103040;
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  .image {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .image.visible {
    opacity: 1;
  }
  
  .text-box {
    margin-top: 20px;
  }
  
  .home-description {
    color: white;
    font-size: 1.5rem;
  }
  
  .home-container.scrolled .home-description {
    color: #103040;
  }
  